<!DOCTYPE html>
<html>
  <head>
    <meta charset= "UTF-8">
        <title>{{projectTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt projectDescription}}</p>

    {{> footer}}
  </body>
</html>
